<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1.15">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.BooleanParameterDefinition>
          <name>FABRIC8</name>
          <description>https://github.com/fabric8io/fabric8</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>FABRIC8_MAVEN_PLUGIN</name>
          <description>https://github.com/fabric8io/fabric8-maven-plugin</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>FABRIC8_DEVOPS</name>
          <description>https://github.com/fabric8io/fabric8-devops</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>FABRIC8_IPAAS</name>
          <description>https://github.com/fabric8io/fabric8-ipaas</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>IPAAS_QUICKSTARTS</name>
          <description>https://github.com/fabric8io/ipaas-quickstarts</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>FABRIC8_FORGE</name>
          <description>https://github.com/fabric8io/fabric8-forge</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2.5-SNAPSHOT">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.0">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>https://github.com/fabric8io/fabric8-release-pipelines.git</url>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/master</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="list"/>
      <extensions/>
    </scm>
    <scriptPath>multi-choice/Jenkinsfile</scriptPath>
  </definition>
  <triggers/>
</flow-definition>
